/* CSS Variables for values that are related */
:root {
  --slider-height: 20px;
  --thumb-width: 50px;
  --thumb-padding: 25px;
  
  --track-gradient-start: #afafaf;
  --track-gradient-end: #cfd0d0;
  --border-color: #9b9b9b;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 8px 0;
  width: 100%;
}

.sliderLabel {
  color: #000;
  font-size: 14px;
  font-style: bold;
  font-weight: 600;
  letter-spacing: -0.01em;
  margin-bottom: 1px;
  margin-left: 6px;
}

/* Container that holds the track and ensures proper sizing */
.sliderContainer {
  align-items: center;
  display: flex;
  height: var(--slider-height);
  position: relative;
  width: 300px;
}

/* Slider rail */
.track {
  background: linear-gradient(
    to bottom,
    var(--track-gradient-start),
    var(--track-gradient-end)
  );
  border: 1px solid var(--border-color);
  border-radius: 12px;
  cursor: pointer;
  height: var(--slider-height);
  padding: 0 var(--thumb-padding);
  position: relative;
  width: 100%;
}

/* fdiv that fills as we slide */
.progress {
  height: 100%;
  pointer-events: none; /* Allows clicks to pass through to track */
  position: relative;
  top: 0;
}

/* dragged div */
.thumb {
  align-items: center;
  background-color: #f4f4f4;
  border-inline: 1px solid var(--border-color);
  border-radius: 11px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: grab;
  display: flex;
  height: 18px;
  justify-content: center;
  padding: 2px 4px;
  position: relative;
  top: -50%; /* Pull thumb up to center it on track */
  transform: translate(-50%, -50%); /* Center thumb horizontally and vertically */
  user-select: none; /* Prevent text selection while dragging */
  width: var(--thumb-width);
}

.thumb:active {
  cursor: grabbing;
}

.thumbValue {
  color: #1c1c1c;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
} 